.UsersReviews {
    margin: 3% auto 2% auto;
    width: 50%;
}

.UsersReviews__review {
    margin-bottom: 25px;
}

.UsersReviews__review-header,
.review-header__user-info,
.review-header__review-info {
    display: flex;
    align-items: center;
}

.UsersReviews__review-header {
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-info__avatar,
.review-info__date {
    margin-right: 15px;
}

.UsersReviews__body {
    padding-left: 55px;
    text-align: start;
    line-height: 1.5;
    margin-bottom: 25px;
}